Source: revpi-wallpaper
Section: contrib/electronics
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Rules-Requires-Root: no
Homepage: https://revolutionpi.com/
Vcs-Browser: https://github.com/RevolutionPi/revpi-wallpaper
Vcs-Git: https://github.com/RevolutionPi/revpi-wallpaper.git -b raspios/bullseye
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1

Package: revpi-wallpaper
Architecture: all
Depends: ${misc:Depends}
Replaces: rpd-wallpaper
Description: Revolution Pi Wallpaper
 Lightweight package to replace the 30 MByte collection of wallpapers
 provided by the pixel-wallpaper package.  Revolution Pi is a set of
 IoT products based on the Raspberry Pi and geared towards industrial
 usage.
