Source: revpi-wallpaper
Section: contrib/electronics
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>=10), dh-exec
Maintainer: KUNBUS GmbH <support@kunbus.com>
Homepage: https://revolution.kunbus.com/

Package: revpi-wallpaper
Architecture: all
Depends: ${misc:Depends}
Provides: pixel-wallpaper
Replaces: pixel-wallpaper
Breaks: pixel-wallpaper
Description: Revolution Pi Wallpaper
 Lightweight package to replace the 30 MByte collection of wallpapers
 provided by the pixel-wallpaper package.  Revolution Pi is a set of
 IoT products based on the Raspberry Pi and geared towards industrial
 usage.
